<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.even.back.estimate.model.mapper.EstimateMapper">
	
	<insert id="saveEstimateAttachment">
    INSERT
      INTO
           TB_ESTIMATE_REQUEST_ATTACHMENT
           (
           FILE_NO
         , ORIGIN_NAME
         , FILE_PATH
         , REQUEST_NO  
           )
    VALUES
           (
           SEQ_ESTIMATE_REQUEST_ATTACH.NEXTVAL
         , #{originName}
         , #{filePath}
         , #{reqNo} 
           )      
	</insert>
	
	
	<select id="getMyEstimate" resultType="ExpertDTO">
	SELECT
	       r.REQUEST_NO
	     , r.STATUS            AS requestStatus
	     , m.NICKNAME          AS nickName
	     , m.ADDRESS
	     , e.START_TIME        AS startTime
	     , e.END_TIME          AS endTime
	     , rs.AVG_STAR_SCORE   AS starScore
	     , rs.REVIEW_COUNT     AS reviewCount
	 FROM TB_ESTIMATE_REQUEST r
	 JOIN TB_EXPERT e
	   ON e.USER_NO = r.EXPERT_NO
	 JOIN TB_MEMBER m
	   ON m.USER_NO = e.USER_NO
	 LEFT JOIN (
			    SELECT
			          e.USER_NO                       AS EXPERT_NO
			        , ROUND(AVG(rv.STAR_SCORE), 2)    AS AVG_STAR_SCORE
			        , COUNT(rv.REVIEW_NO)             AS REVIEW_COUNT
			    FROM TB_EXPERT e
			    LEFT JOIN TB_ESTIMATE_REQUEST r2
			      ON r2.EXPERT_NO = e.USER_NO
			    LEFT JOIN TB_ESTIMATE_RESPONSE er
			      ON er.REQUEST_NO = r2.REQUEST_NO
			    LEFT JOIN TB_REVIEW rv
			      ON rv.ESTIMATE_NO = er.ESTIMATE_NO
			     AND rv.STATUS = 'Y'
			    GROUP BY e.USER_NO
			   ) rs ON rs.EXPERT_NO = r.EXPERT_NO
	WHERE 
	      r.USER_NO = #{userNo}
	ORDER 
	   BY r.REQUEST_NO DESC
	OFFSET #{offset} ROWS FETCH NEXT 4 ROWS ONLY;
	</select>
	
</mapper>