<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.even.back.estimate.model.mapper.EstimateMapper">
	
	<!-- 회원이 보내는 견적 이미지 저장 -->
	<insert id="saveEstimateAttachment">
    INSERT
      INTO
           TB_ESTIMATE_REQUEST_ATTACHMENT
           (
           FILE_NO
         , ORIGIN_NAME
         , FILE_PATH
         , REQUEST_NO  
           )
    VALUES
           (
           SEQ_ESTIMATE_REQUEST_ATTACH.NEXTVAL
         , #{originName}
         , #{filePath}
         , #{reqNo} 
           )      
	</insert>
	
	<!-- 회원이 보낸 견적 요청 수 -->
	<select id="getMyEstimateCount" resultType="int">
	SELECT COUNT(*)
	FROM TB_ESTIMATE_REQUEST
	WHERE USER_NO = #{userNo}
	  AND STATUS = 'REQUESTED'
	</select>
	
	<!-- 회원이 보낸 견적 전문가 정보 -->
	<select id="getMyEstimate" resultType="ExpertDTO">
	SELECT
	       r.REQUEST_NO		   AS requestNo
	     , r.EXPERT_NO         AS expertNo 
	     , r.STATUS            AS requestStatus
	     , m.NICKNAME          AS nickName
	     , m.ADDRESS
	     , m.PROFILE_IMG       AS profileImg
	     , e.START_TIME        AS startTime
	     , e.END_TIME          AS endTime
	     , NVL(rs.AVG_STAR_SCORE,0)   AS starScore
	     , rs.REVIEW_COUNT     AS reviewCount
	 FROM TB_ESTIMATE_REQUEST r
	 JOIN TB_EXPERT e
	   ON e.USER_NO = r.EXPERT_NO
	 JOIN TB_MEMBER m
	   ON m.USER_NO = e.USER_NO
	 LEFT JOIN (
			    SELECT
			          e.USER_NO                       AS EXPERT_NO
			        , ROUND(AVG(rv.STAR_SCORE), 2)    AS AVG_STAR_SCORE
			        , COUNT(rv.REVIEW_NO)             AS REVIEW_COUNT
			    FROM TB_EXPERT e
			    LEFT JOIN TB_ESTIMATE_REQUEST r2
			      ON r2.EXPERT_NO = e.USER_NO
			    LEFT JOIN TB_ESTIMATE_RESPONSE er
			      ON er.REQUEST_NO = r2.REQUEST_NO
			    LEFT JOIN TB_REVIEW rv
			      ON rv.ESTIMATE_NO = er.ESTIMATE_NO
			     AND rv.STATUS = 'Y'
			    GROUP BY e.USER_NO
			   ) rs ON rs.EXPERT_NO = r.EXPERT_NO
	WHERE 
	      r.USER_NO = #{userNo}
	  AND r.STATUS = 'REQUESTED'     
	ORDER 
	   BY r.REQUEST_NO DESC
	OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<!-- 회원이 받은 견적 요청 수 -->
	<select id="getResponseEstimateCount" resultType="int">
    SELECT COUNT(*) AS responseCount
      FROM TB_ESTIMATE_RESPONSE er
      JOIN TB_ESTIMATE_REQUEST r
        ON er.REQUEST_NO = r.REQUEST_NO
     WHERE r.USER_NO = #{userNo}
       AND er.STATUS IN ('SENT', 'ACCEPTED')
	</select>
	
	<!-- 회원이 받은 견적 요청 내용 -->
	<select id="getResponseEstimateDetails" resultType="ResponseEstimateDTO">
    SELECT
    	   r.REQUEST_NO              AS requestNo,
           r.EXPERT_NO               AS expertNo,
           m.NICKNAME                AS nickName,
           m.PROFILE_IMG             AS profileImg,
           NVL(rs.AVG_STAR_SCORE, 0) AS starScore,
           NVL(rs.REVIEW_COUNT, 0)   AS reviewCount,
           er.PRICE                  AS price,
           r.STATUS                  AS status
      FROM TB_ESTIMATE_REQUEST r
      JOIN TB_ESTIMATE_RESPONSE er
        ON er.REQUEST_NO = r.REQUEST_NO
       AND er.DELETE_AT = 'N'
       AND er.STATUS IN ('SENT', 'ACCEPTED')
      JOIN TB_EXPERT e
        ON e.USER_NO = r.EXPERT_NO
       AND e.STATUS = 'Y'
      JOIN TB_MEMBER m
        ON m.USER_NO = e.USER_NO
       AND m.STATUS = 'Y'
      LEFT JOIN (
            SELECT
                   r2.EXPERT_NO,
                   ROUND(AVG(rv.STAR_SCORE), 2) AS AVG_STAR_SCORE,
                   COUNT(rv.REVIEW_NO)          AS REVIEW_COUNT
              FROM TB_ESTIMATE_REQUEST r2
              JOIN TB_ESTIMATE_RESPONSE er2
                ON er2.REQUEST_NO = r2.REQUEST_NO
               AND er2.DELETE_AT = 'N'
              LEFT JOIN TB_REVIEW rv
                ON rv.ESTIMATE_NO = er2.ESTIMATE_NO
               AND rv.STATUS = 'Y'
             GROUP BY r2.EXPERT_NO
      ) rs
        ON rs.EXPERT_NO = r.EXPERT_NO
     WHERE r.USER_NO = #{userNo}
       AND r.STATUS IN ('QUOTED' , 'MATCHED')
     ORDER BY er.ESTIMATE_DATE DESC
     OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>

	<!-- 전문가가 받은 요청 리스트 수 -->
	<select id="getReceivedRequestsCount">
		SELECT 
			   COUNT(*) 
	      FROM 
	           TB_ESTIMATE_REQUEST 
	     WHERE 
	           expert_No = #{expertNo} 
	       AND 
	           STATUS = 'REQUESTED'
	</select>
	
	<!-- 전문가 받은 요청 리스트 -->
	<select id="getReceivedRequests">
	SELECT
		   REQUEST_NO AS requestNo
		 , USER_NO AS userNo   
		 , NICKNAME
		 , ADDRESS
		 , PROFILE_IMG profileImg 
	  FROM 
	       TB_ESTIMATE_REQUEST er 
	  JOIN 
	       TB_MEMBER m
	       USING (USER_NO)
	 WHERE expert_No = #{expertNo} AND er.STATUS = 'REQUESTED'
	 ORDER 
	    BY 
           er.REQUEST_DATE DESC
	</select>
	
	<!-- 전문가의 견적이 맞는지 확인함 -->
	<select id="getCheckEstimateCountRequested">
	SELECT 
	       COUNT(*)
	  FROM 
	       TB_ESTIMATE_REQUEST
	 WHERE 
           (EXPERT_NO = #{userNo} OR USER_NO = #{userNo})
	   AND 
	       REQUEST_NO = #{requestNo}
	   AND 
	       STATUS = 'REQUESTED'    
	</select>
	
	<!-- 승낙할수 있는 견적인지 확인함 -->
	<select id="getCheckEstimateCountOuoted">
	SELECT 
	       COUNT(*)
	  FROM 
	       TB_ESTIMATE_REQUEST
	 WHERE 
           USER_NO = #{userNo}
	   AND 
	       REQUEST_NO = #{requestNo}
	   AND 
	       STATUS = 'QUOTED'    
	</select>
	
	<!-- 요청 견적 자세히 보기 -->
	
	<resultMap id="estimateDetailMap" type="EstimateRequestDetailDTO">
    <id property="requestNo" column="REQUEST_NO"/>
   
    <result property="nickname"  column="NICKNAME"/>
    <result property="categoryName"      column="CATEGORY_NAME"/>
    <result property="profileImg"   column="PROFILE_IMG"/>
    <result property="requestDate"     column="REQUEST_DATE"/>
    <result property="address"   column="ADDRESS"/>
    <result property="requestType" column="REQUEST_TYPE"/>
    <result property="requestService"     column="REQUEST_SERVICE"/>
    <result property="content"     column="CONTENT"/>
    <collection property="filePaths" ofType="string">
        <result column="FILE_PATH"/>
    </collection>
	</resultMap>


	<select id="getEstimateDetail" parameterType="long" resultMap="estimateDetailMap">
	SELECT 
		   REQUEST_NO 
		 , NICKNAME  
		 , CATEGORY_NAME
		 , PROFILE_IMG
		 , REQUEST_DATE
		 , ADDRESS
		 , REQUEST_TYPE
		 , REQUEST_SERVICE
		 , CONTENT
		 , FILE_PATH
	  FROM 
	       TB_ESTIMATE_REQUEST ter
	  LEFT     
	  JOIN 
	       TB_MEMBER m USING (USER_NO)
	  LEFT
	  JOIN
	       TB_EXPERT_DETAIL_CATEGORY USING (CATEGORY_DETAIL_NO)
	  LEFT     
	  JOIN
	       TB_ESTIMATE_REQUEST_ATTACHMENT USING (REQUEST_NO)
	 WHERE 
	       REQUEST_NO = #{requestNo}  		
	</select>
</mapper>