<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.even.back.expert.model.mapper.ExpertMapper">

<!-- 전문가 조회 resultMap -->
<resultMap id="expertDetailMap" type="ExpertDetailDTO">
    <id property="expertNo" column="EXPERT_NO"/>

    <result property="profileImg"  column="PROFILE_IMG"/>
    <result property="nickname"    column="NICKNAME"/>
    <result property="career"      column="CAREER"/>
    <result property="startTime"   column="START_TIME"/>
    <result property="endTime"     column="END_TIME"/>
    <result property="starScore"   column="STAR_SCORE"/>
    <result property="reviewCount" column="REVIEW_COUNT"/>
    <result property="address"     column="ADDRESS"/>
    <result property="content"     column="CONTENT"/>
    <result property="userLiked"   column="USER_LIKED"/>

    <collection property="images" ofType="string">
        <result column="FILE_PATH"/>
    </collection>
</resultMap>
	
	<!-- 전문가 디테일 조회 sql -->
	<select id="getExpertDetails" parameterType="long" resultMap="expertDetailMap">
	SELECT
	       e.USER_NO                 AS EXPERT_NO
	     , m.PROFILE_IMG             AS PROFILE_IMG
	     , m.NICKNAME                AS NICKNAME
	     , e.CAREER                  AS CAREER
	     , e.START_TIME              AS START_TIME
	     , e.END_TIME                AS END_TIME
	     , NVL(es.AVG_STAR_SCORE, 0) AS STAR_SCORE
	     , NVL(es.REVIEW_COUNT, 0)   AS REVIEW_COUNT
	     , m.ADDRESS                 AS ADDRESS
	     , e.CONTENT                 AS CONTENT
	     , ea.FILE_PATH              AS FILE_PATH
	     , CASE
	           WHEN #{userNo} IS NULL THEN 0
	           WHEN EXISTS (
	               SELECT
	                      1
	                 FROM
	                      TB_LIKE ul
	                WHERE
	                      ul.EXPERT_NO = e.USER_NO
	                  AND ul.USER_NO   = #{userNo}
	           ) THEN 1
	           ELSE 0
	       END                       AS USER_LIKED
	     , (
         SELECT COUNT(*)
           FROM TB_ESTIMATE_RESPONSE rp
           JOIN TB_ESTIMATE_REQUEST rq
             ON rp.REQUEST_NO = rq.REQUEST_NO
          WHERE rq.EXPERT_NO = e.USER_NO
            AND rp.STATUS = 'EXPIRED'
       ) AS completedJobs  
	  FROM
	       TB_EXPERT e
	  JOIN
	       TB_MEMBER m
	    ON m.USER_NO = e.USER_NO
	   AND
	       m.STATUS = 'Y'  
	  LEFT
	  JOIN
	       V_EXPERT_STATS es
	    ON es.EXPERT_NO = e.USER_NO
	  LEFT
	  JOIN
	       TB_EXPERTING_ATTACHMENT ea
	    ON ea.USER_NO = e.USER_NO
	 WHERE
	       EXISTS (
	           SELECT
	                  1
	             FROM
	                  TB_EXPERT_SAVE_CATEGORY esc
	            WHERE
	                  esc.USER_NO = e.USER_NO
	       )
	   AND
	       e.USER_NO = #{expertNo}
	</select>	
	<!-- 전문가가 견적 응답 이미지 저장 -->
	<insert id="saveExpertEstimateAttachment">
	INSERT 
	  INTO 
	       TB_ESTIMATE_RESPONSE_ATTACHMENT
    	   (
           FILE_NO
         , ORIGIN_NAME
         , FILE_PATH
         , ESTIMATE_NO 
         , STATUS
           )
    VALUES
           (
     	   SEQ_ESTIMATE_RESPONSE_ATTACHMENT.NEXTVAL
    	 , #{originName}
    	 , #{filePath}
    	 , #{reqNo}  
    	 , 'N'          
    	   )    
	</insert>
	
	<!-- userNo 하고 requestNo로 있는지 검증 -->
	<select id="countByRequestNoAndUserNo" resultType="int">
		SELECT 
		       COUNT(*) 
		  FROM 
		       TB_ESTIMATE_REQUEST 
		 WHERE 
		       REQUEST_NO = #{requestNo} 
		   AND 
		       EXPERT_NO = #{userNo}
	</select>
	
	<!-- 성사된 견적 수 조회 -->
	<select id="countMatchedByUserNo">
	SELECT 
	       COUNT(*) 
	  FROM 
	       TB_ESTIMATE_RESPONSE rp
 	  LEFT
 	  JOIN 
 	       TB_ESTIMATE_REQUEST rq USING (REQUEST_NO)
 	 WHERE 
 	       rp.STATUS IN ('ACCEPTED' , 'EXPIRED')
 	  AND
 	      EXPERT_NO = #{userNo}
 	  AND
 	      rp.DELETE_AT = 'N'	
	</select>
	
	<!-- 매치된 유저들 조회 -->
	<select id="getMatchedUser">
	SELECT
	       rq.REQUEST_NO AS requestNo,
	       m.USER_NO AS userNo,
	       m.NICKNAME,
	       m.ADDRESS,
	       m.PROFILE_IMG profileImg
	FROM
	     TB_ESTIMATE_REQUEST rq
	LEFT JOIN TB_ESTIMATE_RESPONSE rp 
	       ON rq.REQUEST_NO = rp.REQUEST_NO
	LEFT JOIN TB_MEMBER m 
	       ON m.USER_NO = rq.USER_NO
	WHERE
	       m.STATUS = 'Y'
	   AND EXPERT_NO = #{userNo}
	   AND rp.STATUS IN ('ACCEPTED', 'EXPIRED')
	ORDER BY 
	       rq.REQUEST_NO DESC
	OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="getExpertCategories" parameterType="long">
	SELECT 
	       CATEGORY_DETAIL_NO categoryDetailNo
	     , CATEGORY_NAME  categoryName
	  FROM 
	       TB_EXPERT_SAVE_CATEGORY
	  LEFT
	  JOIN
	       TB_EXPERT_DETAIL_CATEGORY USING (CATEGORY_DETAIL_NO)
	  LEFT
	  JOIN
	       TB_EXPERT USING (USER_NO)
	 WHERE
	       USER_NO = #{expertNo}
	 ORDER
	    BY
	       CATEGORY_DETAIL_NO ASC      
	</select>
	
	<select id="getExpertLocations">
	SELECT 
	       USER_NO expertNo
	     , lat latitude
	     , lng longitude
	  FROM 
	       TB_MEMBER m
	  LEFT
	  JOIN 
	       TB_MEMBER_LOCATION USING (USER_NO)
	  LEFT 
	  JOIN 
	       TB_EXPERT e USING (USER_NO)
	 WHERE
	       m.STATUS = 'Y'
	   AND
	       e.STATUS = 'Y'          
	</select>
	
	
	<select id="getLikedExpertsCount">
	SELECT COUNT(*) AS liked_expert_count
	FROM TB_LIKE l
	JOIN TB_EXPERT e
	  ON l.EXPERT_NO = e.USER_NO
	WHERE l.USER_NO = #{userNo}  
	  AND e.STATUS = 'Y'    
	</select>
	
	<select id="getLikedExperts">
	SELECT
	       e.USER_NO                    AS expertNo
	     , m.PROFILE_IMG                AS profileImg
	     , m.NICKNAME                   AS nickName
	     , e.CAREER
	     , e.START_TIME                 AS startTime
	     , e.END_TIME                   AS endTime
	     , NVL(es.AVG_STAR_SCORE, 0)    AS starScore
	     , NVL(es.REVIEW_COUNT, 0)      AS reviewCount
	     , m.ADDRESS
	     , 1                            AS userLiked 
	     , NVL(es.TOTAL_LIKE_COUNT, 0)  AS totalLikes
	     , (SELECT COUNT(*)
	        FROM TB_ESTIMATE_RESPONSE rp2
	        JOIN TB_ESTIMATE_REQUEST rq2
	          ON rp2.REQUEST_NO = rq2.REQUEST_NO
	        WHERE rq2.EXPERT_NO = e.USER_NO
	          AND rp2.STATUS = 'EXPIRED'
	      ) AS completedJobs
	FROM
	       TB_EXPERT e
	JOIN
	       TB_MEMBER m
	  ON m.USER_NO = e.USER_NO
	LEFT JOIN
	       V_EXPERT_STATS es
	  ON es.EXPERT_NO = e.USER_NO
	WHERE
	       EXISTS (
	           SELECT 1
	           FROM TB_LIKE ul
	           WHERE ul.EXPERT_NO = e.USER_NO
	             AND ul.USER_NO   = #{userNo}
	       )
	ORDER BY
	       NVL(es.AVG_STAR_SCORE, 0) DESC
	     , NVL(es.TOTAL_LIKE_COUNT, 0) DESC
	     , e.USER_NO DESC
    OFFSET #{offset} ROWS
	FETCH NEXT #{limit} ROWS ONLY	
	</select>
</mapper>