<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.even.back.main.model.mapper.MainMapper">
<select id="getExpertEntities" resultType="MainExpertDTO">
	SELECT 
	       NICKNAME
	     , PROFILE_IMG
	     , CONTENT
	     , ADDRESS
	     , e.USER_NO expertNo
	FROM TB_MEMBER m
	JOIN TB_EXPERT e 
	  ON e.USER_NO = m.USER_NO
	LEFT JOIN V_EXPERT_STATS es 
	  ON es.EXPERT_NO = e.USER_NO
	ORDER BY (AVG_STAR_SCORE * REVIEW_COUNT) / (REVIEW_COUNT + 10) DESC
	OFFSET 0 ROWS FETCH NEXT 9 ROWS ONLY
</select>


</mapper>