<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.even.back.member.model.mapper.MemberMapper">
	
	
	<!-- 이메일 중복여부를 확인합니다. -->
	<select id="countByEmail">
		SELECT
		       COUNT(*)
		  FROM
		       TB_MEMBER
		 WHERE
		       email = #{email}           
	</select>
	
	<!-- 회원가입을 합니다. -->
	<insert id="signUp" parameterType="MemberVO">
	<selectKey keyProperty="userNo" order="BEFORE" resultType="long">
		select SEQ_MEMBER.nextval FROM DUAL
	</selectKey>
		INSERT
		  INTO
		       TB_MEMBER
		       (
		       USER_NO
		     , EMAIL
		     , USER_PWD
		     , USER_NAME
		     , NICKNAME
		     , PHONE
		     , BIRTHDAY
		     , GENDER
		     , POSTCODE
		     , ADDRESS
		     , ADDRESS_DETAIL
		     , CREATE_DATE 
		     , PROFILE_IMG
		       )
	    VALUES
	           (
	           #{userNo}
	         , #{email}
	         , #{userPwd}
	         , #{userName}
	         , #{nickname}
	         , #{phone}
	         , #{birthday}
	         , #{gender}
	         , #{postcode}
	         , #{address}
	         , #{addressDetail}
	         , SYSDATE  
	         , #{profileImgPath}
	           )	            
	</insert>
	
	<!-- 회원의 위도/경도를 추가합니다. -->
	<insert id="saveLocation" parameterType="MemberVO">
		INSERT
		  INTO
		       TB_MEMBER_LOCATION
		       (
		       USER_NO
		     , LAT
		     , LNG  
		       )
		VALUES
		       (
		       #{userNo}
		     , #{latitude}
		     , #{longitude} 
		       )      
	</insert>
	
	<!-- 로그인을 위해 유저정보를 불러옵니다. -->
	<select id="loadUser" resultType="MemberAuthVO">
		SELECT
		       USER_NO userNo
		     , EMAIL email
		     , USER_PWD userPwd
		     , USER_NAME userName
		     , NICKNAME
		     , PROFILE_IMG profileImg
		     , USER_ROLE userRole
		     , STATUS 
		     , PENALTY_STATUS penaltyStatus
		  FROM
		       TB_MEMBER
		 WHERE
		       EMAIL = #{email}            
	</select>
	
	<!-- 비밀번호를 변경합니다. -->
	<update id="changePassword" parameterType="ChangePasswordVO">
	UPDATE
	       TB_MEMBER
	   SET
	       USER_PWD = #{newPassword}
	 WHERE
	       USER_NO = #{userNo}          
	</update>
</mapper>