<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.even.back.review.model.dao.ReviewMapper">

    <!-- 리뷰 상세 ResultMap -->
    <resultMap id="reviewDetailResultMap" type="ReviewDetailDTO">
        <id property="reviewNo" column="REVIEW_NO"/>
        <result property="content" column="CONTENT"/>
        <result property="starScore" column="STAR_SCORE"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="estimateNo" column="ESTIMATE_NO"/>

        <result property="nickName" column="NICKNAME"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="createAgo" column="CREATE_AGO"/>

        <collection property="attachments"
            ofType="ReviewAttachmentDTO"
            select="getAttachmentsByReviewNo"
            column="REVIEW_NO"/>

        <collection property="selectedTags"
            ofType="ReviewTagDTO"
            select="getTagsByReviewNo"
            column="REVIEW_NO"/>
    </resultMap>

    <!-- 첨부파일 ResultMap -->
    <resultMap id="reviewAttachmentResultMap" type="ReviewAttachmentDTO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="reviewNo" column="REVIEW_NO"/>
        <result property="originName" column="ORIGIN_NAME"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="status" column="STATUS"/>
        <result property="uploadDate" column="UPLOAD_DATE"/>
    </resultMap>

    <!-- 태그 ResultMap -->
    <resultMap id="reviewTagResultMap" type="ReviewTagDTO">
        <id property="tagNo" column="TAG_NO"/>
        <result property="tagName" column="TAG_NAME"/>
        <result property="selected" column="SELECTED"/>
    </resultMap>

    <select id="getUserRoleByUserNo" parameterType="long" resultType="string">
        SELECT 
               USER_ROLE
          FROM 
               TB_MEMBER
         WHERE 
       USER_NO = #{userNo}
    </select>


    <!-- 리뷰 상세 조회(상세) -->
    <select id="getByEstimateNo" parameterType="Long" resultMap="reviewDetailResultMap">
        SELECT
              r.REVIEW_NO
            , r.ESTIMATE_NO
            , r.CONTENT
            , r.STAR_SCORE
            , r.CREATE_DATE
            , m.NICKNAME
            , tedc.CATEGORY_NAME
            , CASE
                WHEN TRUNC(SYSDATE - r.CREATE_DATE) = 0 THEN '오늘'
                ELSE TRUNC(SYSDATE - r.CREATE_DATE) || '일 전'
            END AS CREATED_AGO
         FROM 
              TB_REVIEW r
         JOIN 
              TB_ESTIMATE_RESPONSE er ON r.ESTIMATE_NO = er.ESTIMATE_NO
         JOIN 
              TB_ESTIMATE_REQUEST ter ON er.REQUEST_NO = ter.REQUEST_NO
         JOIN 
              TB_MEMBER m ON ter.USER_NO = m.USER_NO
         LEFT 
         JOIN 
              TB_EXPERT_DETAIL_CATEGORY tedc ON tedc.CATEGORY_DETAIL_NO = ter.CATEGORY_DETAIL_NO
        WHERE 
              r.ESTIMATE_NO = #{estimateNo}
         AND 
             r.STATUS = 'Y'
    </select>

    <!-- 첨부파일 목록 조회(상세) -->
    <select id="getAttachmentsByReviewNo" resultMap="reviewAttachmentResultMap">
       SELECT
              FILE_NO
            , REVIEW_NO
            , ORIGIN_NAME
            , FILE_PATH
            , STATUS
            , UPLOAD_DATE
        FROM 
              TB_REVIEW_ATTACHMENT
        WHERE 
              REVIEW_NO = #{value}
          AND 
              STATUS = 'Y'
    </select>

    <!-- 태그 목록 조회 (상세) -->
    <select id="getTagsByReviewNo" resultMap="reviewTagResultMap">
        SELECT
               t.TAG_NO
             , t.TAG_NAME
             , 1 AS SELECTED
          FROM 
               TB_REVIEW_TAG t
          JOIN 
               TB_REVIEW_MAP m ON t.TAG_NO = m.TAG_NO
         WHERE 
               m.REVIEW_NO = #{value}
    </select>

    <!-- 태그 전체 조회 -->
    <select id="getAllReviewTags" resultMap="reviewTagResultMap">
         SELECT
                TAG_NO
              , TAG_NAME
              , 0 AS SELECTED
           FROM 
                TB_REVIEW_TAG
          ORDER 
             BY 
                TAG_NO
    </select>


    <!-- 리뷰 중복 체크 -->
    <select id="existsByEstimateNo"
            resultType="boolean">
        SELECT
               CASE WHEN COUNT(*) &gt; 0 THEN 1 ELSE 0 END
          FROM TB_REVIEW r
          JOIN TB_ESTIMATE_RESPONSE er ON r.ESTIMATE_NO = er.ESTIMATE_NO
          JOIN TB_ESTIMATE_REQUEST eq ON er.REQUEST_NO = eq.REQUEST_NO
          WHERE r.ESTIMATE_NO = #{estimateNo}
          AND eq.USER_NO = #{userNo}
    </select>

    <!-- 리뷰 등록 -->
    <insert id="saveReview" parameterType="ReviewVO">
        <selectKey keyProperty="reviewNo" resultType="long" order="BEFORE">
        SELECT SEQ_REVIEW.NEXTVAL FROM DUAL
        </selectKey>
       INSERT 
         INTO 
              TB_REVIEW
              (
              REVIEW_NO
            , ESTIMATE_NO
            , CONTENT
            , STAR_SCORE
            , STATUS
            , CREATE_DATE
              )
       VALUES 
              (
              #{reviewNo}
            , #{estimateNo}
            , #{content}
            , #{starScore}
            , #{status}
            , SYSDATE
              )
    </insert>

    <!-- 첨부파일 등록 -->
    <!-- <insert id="saveReviewAttachment" parameterType="ReviewAttachmentVO">
        <selectKey keyProperty="fileNo" resultType="Long" order="BEFORE">
            SELECT SEQ_REVIEW_ATTACHMENT.NEXTVAL FROM DUAL
        </selectKey>
       INSERT 
         INTO 
              TB_REVIEW_ATTACHMENT
              (
              FILE_NO
            , REVIEW_NO
            , ORIGIN_NAME
            , FILE_PATH
            , STATUS
            , UPLOAD_DATE
              ) 
       VALUES 
              (
              #{fileNo}
            , #{reviewNo}
            , #{originName}
            , #{filePath}
            , #{status}
            , SYSDATE
              )
    </insert> -->


    <insert id="saveReviewAttachment" parameterType="reviewAttachmentVO">
		<selectKey keyProperty="fileNo" resultType="long" order="BEFORE">
			SELECT SEQ_REVIEW_ATTACHMENT.NEXTVAL FROM DUAL
		</selectKey>
		INSERT
		  INTO
		       TB_REVIEW_ATTACHMENT
			   (
			   FILE_NO
			 , REVIEW_NO
			 , FILE_PATH
			 , ORIGIN_NAME
			 , STATUS
             , UPLOAD_DATE
			   )
		VALUES 
		      (
			  #{fileNo}
			, #{reviewNo}
			, #{filePath}
			, #{originName}
			, #{status}
            , SYSDATE
			 )
	</insert>

    <!-- 태그 매핑 등록 -->
    <insert id="saveReviewMap" parameterType="ReviewMapVO">
       INSERT 
         INTO 
              TB_REVIEW_MAP
              (
              REVIEW_NO
            , TAG_NO
              ) 
       VALUES 
              (
              #{reviewNo}
            , #{tagNo}
              )
    </insert>

    <!-- 리뷰 상태 변경(삭제) resultMap -->
    <resultMap id="reviewResultMap" type="ReviewVO">
        <id property="reviewNo" column="REVIEW_NO"/>
        <result property="content" column="CONTENT"/>
        <result property="starScore" column="STAR_SCORE"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="status" column="STATUS"/>
        <result property="estimateNo" column="ESTIMATE_NO"/>
    </resultMap>

    <!-- 견적 번호로 리뷰 조회(리뷰 상태 변경용) -->
    <select id="getReviewByEstimateNo" parameterType="Long" resultMap="reviewResultMap">
        SELECT
               REVIEW_NO
             , CONTENT
             , STAR_SCORE
             , CREATE_DATE
             , STATUS
             , ESTIMATE_NO
          FROM 
               TB_REVIEW
         WHERE 
               ESTIMATE_NO = #{estimateNo}
           AND 
               STATUS = 'Y'
    </select>

    <!-- 리뷰 상태 변경 -->
    <update id="updateReviewStatus" parameterType="Long">
        UPDATE
               TB_REVIEW
           SET
               STATUS = 'N'
         WHERE
               REVIEW_NO = #{reviewNo}
    </update>


<resultMap id="expertReviewMap" type="ExpertReviewDTO">
    <id property="reviewNo" column="REVIEW_NO"/>
    <result property="nickname" column="NICKNAME"/>
    <result property="tagNames" column="TAG_NAMES"/>
    <result property="categoryName" column="CATEGORY_NAME"/>
    <result property="starScore" column="STAR_SCORE"/>
    <result property="content" column="CONTENT"/>
    <result property="createDate" column="CREATE_DATE"/>
    
    <collection property="filePaths"
                javaType="java.util.ArrayList"
                ofType="string">
        <result column="FILE_PATH"/>
    </collection>
</resultMap>

<!-- 전문가 리뷰 조회 -->
<select id="getExpertReviews" resultMap="expertReviewMap">
    SELECT
        r.REVIEW_NO REVIEW_NO,
        m.NICKNAME NICKNAME,
        LISTAGG(trt.TAG_NAME, ',')
            WITHIN GROUP (ORDER BY trt.TAG_NAME) AS TAG_NAMES,
        tedc.CATEGORY_NAME,
        r.STAR_SCORE,
        r.CONTENT,
        CASE
            WHEN TRUNC(SYSDATE - r.CREATE_DATE) = 0 THEN '오늘'
            ELSE TRUNC(SYSDATE - r.CREATE_DATE) || '일 전'
        END AS CREATE_DATE,
        ra.FILE_PATH FILE_PATH
    FROM TB_REVIEW r
    LEFT JOIN TB_ESTIMATE_RESPONSE er
           ON r.ESTIMATE_NO = er.ESTIMATE_NO
    AND  er.DELETE_AT = 'N'     
    LEFT JOIN TB_ESTIMATE_REQUEST ter
           ON er.REQUEST_NO = ter.REQUEST_NO
    AND   ter.DELETE_AT = 'N'       
    LEFT JOIN TB_MEMBER m
           ON ter.USER_NO = m.USER_NO
    AND  m.STATUS = 'Y'      
    LEFT JOIN TB_REVIEW_MAP rm
           ON r.REVIEW_NO = rm.REVIEW_NO
    LEFT JOIN TB_REVIEW_TAG trt
           ON rm.TAG_NO = trt.TAG_NO
    LEFT JOIN TB_EXPERT_DETAIL_CATEGORY tedc
           ON tedc.CATEGORY_DETAIL_NO = ter.CATEGORY_DETAIL_NO
    LEFT JOIN TB_REVIEW_ATTACHMENT ra
           ON r.REVIEW_NO = ra.REVIEW_NO
     AND ra.STATUS = 'Y'      
    WHERE ter.EXPERT_NO = #{expertNo}
    GROUP BY
        r.REVIEW_NO,
        m.NICKNAME,
        tedc.CATEGORY_NAME,
        r.STAR_SCORE,
        r.CONTENT,
        r.CREATE_DATE,
        ra.FILE_PATH
    ORDER BY r.CREATE_DATE DESC
</select>
	
	<!-- 전문가 리뷰 갯수 조회 -->
	<select id="getReviewsCountByExpertNo" parameterType="long">
		SELECT 
		       COUNT(*) 
		  FROM 
		       TB_REVIEW
		  JOIN 
		       TB_ESTIMATE_RESPONSE USING (ESTIMATE_NO) 
		  JOIN TB_ESTIMATE_REQUEST USING (REQUEST_NO) 
		 WHERE 
		       EXPERT_NO = #{expertNo}
	</select>

</mapper>